* {
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
    box-sizing: border-box;
  }
  #navbar{position: relative;}
  #navbar {
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    top: 0px;
    width: 100%;
    left: 0px;
  }
  #logo {
    margin: 7px 20px;
  }
  #logo img {
    margin: 7px 7px;
    height: 63px;
    /* /* border-top-left-radius: 30px;: 30px ; */

    border-radius: 30px 0px 30px 0px;
  }
  #navbar ul {
    display: flex;
  }
  #navbar ::before {
    content: "    ";
    background-color: rgb(222, 80, 135);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;

    opacity: 0.5;
  }

  #navbar ul li {
    list-style: none;
    font-size: 1rem;
  }
  #navbar ul li a {
    /* list-style: none; */
    display: block;
    padding: 6px 2px;
    margin: 12px 8px;
    text-decoration: none;
    border-radius: 21px;
    color: white;
    font-family: "Baloo Bhai 2", cursive;
  }
  #navbar ul li a:hover {
    color: rgb(244, 124, 111);
    background-color: white;
  }
  /* home styling */
  #home{
    position: relative;
  }

  #home::before {
    /* content: "    ";
    background: url("Image\ 9.jpg") no-repeat center center;
    position: absolute;
    height: 0%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -2;
    opacity: 0.7;
    padding: 389px 30px;
    padding-bottom: 427px; */
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/bg\ 2.jpg) no-repeat center center;
    z-index: -2;
    opacity: 1;
  }
  #home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* height: 10%; */
    /* margin: 158px 335px; */
    /* margin-top: 4px; */
    /* padding: 82px 42px; */
    padding-bottom: 21px;
  }
  #home h1 {
    color: white;
    /* color: rgb(239, 90, 147); */
    /* text-align: center; */
    font-size: 1.5rem;
    margin-top  : 34px;
    /* padding-right: 78px; */
    font-family: "Baloo Bhai 2", cursive;
    display: flex;
    justify-content: center;
  }
  #home p {
    /* color: rgb(240, 144, 181); */
    /* text-align: center; */
    color: aliceblue;
    margin: 0px 58px;
    font-size: 1.2rem;
    /* color: rgb(217 180 95); */
    margin-top  : 14px;
    /* padding-right: 78px; */
    font-family: "Baloo Bhai 2", cursive;
    display: flex;
    justify-content: center;
  }
  .button {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    left: 131%;
    text-align: left;
    justify-content: left;
    /* padding: 6px 20px; */
    /* margin: 17px; */
    border: 2px solid palevioletred;
    /* border-radius: 21px; */
  }
  .button input {
    border-radius: 21px;
    /* padding:6px 20px ; */
  }
  /* Service styling */
  #service {
    /* border: 2px solid red; */
    display: flex;
    margin: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #service .box {
    /* border: 2px solid white; */
    text-align: center;
    justify-content: center;
    /* padding-bottom: 13px; */
    padding: 12px;
    margin: 25px;
    border-radius: 7px;
  }
  #service .box p {
    margin: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Baloo Bhai 2", cursive;
    color: rgb(82, 81, 81);
  }
  .service-container h1 {
    display: flex;
    /* text-align: center; */
    /* margin-top: -196px; */
    padding-top: 24px;
    /* margin:0px 535px; */
    justify-content: center;
  }
  .service-container {
    /* background-color: antiquewhite; */
    /* background: url(bg.jpg) no-repeat center center; */
    display: block;
    width: 100%;
    /* display: flex; */
  }

  #service .box img {
    display: flex;
    height: 258px;
    width: 358px;
    margin: auto;
    border-radius: 7px;
  }
  #service .box img:hover {
    transform: scale(1.05);
    /* transform: skew(1.5); */

  }
  h2 {
    margin: 12px;
  }
  .box  a {
    text-decoration: none;
    padding: 5px;
    border: 2px solid rgb(233, 75, 64);
    margin: 12px;
    color: rgb(233, 75, 64);
  }
  .box  a:hover {
    background-color: rgb(240, 33, 137);
    color: white;
  }
  /* contact Section */
  #contact {
    position: relative;
  }
  #contact h1 {
    display: flex;
    /* width: 100%; */
    /* align-items: center; */
    /* text-align: center; */
    justify-content: center;
    padding: 12px;
    /* margin: 0px 535px; */
  }
  #contact ::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/bg.jpg) no-repeat center center;
  }
  #contact-box {
    display:flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 12px;
    /* margin:0px 478px; */
    padding-bottom: 34px;
    /* text-align: center; */
  }
  #contact-box input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 18px;
    font-size: 1.1rem;
    padding: 2px;
    margin: 4px;
  }
  #contact-box form {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* align-items: center; */
  }
  #contact-box label {
   font-size: 1.2rem;
   justify-content: center;

  }
  footer {
    background: rgb(51, 33, 35);
    color: white;
    /* justify-content: center; */
    text-align: center;
    /* padding: 0px 404px; */
    width: 100%;
    padding: 4px 0px;
  }